.navebarheader{
    background-color: aquamarine;
    color: black;
    padding: 5px;
    margin-top: 5px;
    
}
.background{
     /* background-image: url("../assets/image/1.jpg");  */
    background-color: aliceblue; 
 }
.container-fluid{
    background-color: cadetblue;
    padding: 10px;
}
