.container
{
    padding-top:50px;

  
}
fieldset {
    border: thin solid #ccc;   
    border-radius: 4px;
    padding: 20px;
    padding-left: 40px;
    background: #fbfbfb;
}
.btn{
    width:150px;
    margin-left: 40%;
    margin-top: 20px;
    
}